@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@if (@Context.Session.GetString("_Email") != null)
{        
    <li class="nav-item">
        <a class="nav-link link text-white display-4" asp-controller="Account" asp-action="Dashboard">
            <span class="mbri-setting mbr-iconfont mbr-iconfont-btn"></span>
            @Context.Session.GetString("_Email")
        </a></li>
    <li class="nav-item">
        <a class="nav-link link text-white display-4"asp-controller="Account" asp-action="Logout">
            <span class="mbrib-logout mbr-iconfont mbr-iconfont-btn"></span>
            lOGOUT
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link link text-white display-4" asp-controller="Account" asp-action="Login">
            <span class="mbrib-login mbr-iconfont mbr-iconfont-btn"></span>
            lOGIN
        </a>
    </li>
}


