@model AmbulanceSystem_WebApp.Models.ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex" style="min-height:690px">
    <div class="m-auto w-50 pt-5">

        @if (ViewBag.mailSent == true)
        {
        <div class="alert alert-success">
            <strong>Done!</strong> Recover Link Is Sent To Your Mail Successfully and Will Expire After 24 Hours.
        </div>
        }
        else if (ViewBag.mailSent == false)
        {
            <div class="alert alert-danger">
                <strong>Sorry!</strong> This Mail Is Not Belong To Our Clients.
            </div>
        }

        <form asp-controller="Account" asp-action="ForgetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group font-weight-bold">
                <label for="Email">Email:</label>
                <input type="text" class="form-control" id="Email" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" value="Recover" class="btn btn-success mx-auto btn-block center-block">Recover</button>
        </form>
    </div>
</div>