@model AmbulanceSystem_WebApp.Resources.LoginInfoResources

@{
    ViewData["Title"] = "Login";
}



<div class="d-flex" style="min-height:690px">
    <div class="m-auto w-50 pt-5">

        @if (ViewBag.userFounded == false)
        {
            <div class="alert alert-danger">
                <strong>Sorry!</strong> This User Is Not Founded or Maybe there invalid User Data
            </div>
        }
        else if (ViewBag.userFounded == true && ViewBag.userAuthorized == false)
        {
            <div class="alert alert-danger">
                <strong>Sorry!</strong> This User Is Not Allowed
            </div>
        }

        <form asp-controller="Account" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group font-weight-bold">
                <label for="Email">Name:</label>
                <input type="text" class="form-control" id="Email" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group font-weight-bold">
                <label for="Password">Password:</label>
                <input type="Password" class="form-control" id="Password" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" value="Login" class="btn btn-primary mx-auto">Login</button>
            @*<a class="btn btn-warning mx-auto" asp-action="ForgetPassword">Forget Password</a>*@
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back To Home</a>
</div>