@model AmbulanceSystem_WebApp.Models.ConfirmNewPassword
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex" style="min-height:690px">
    <div class="m-auto w-50 pt-5">

        @if (ViewBag.passwordChanged == true)
        {
            <div class="alert alert-success">
                <strong>Done!</strong> Your Account Password Is Changed Successfully.
            </div>
        }
        else if (ViewBag.passwordChanged == false)
        {
            <div class="alert alert-danger">
                <strong>Sorry!</strong> Can't Change Your Password.
            </div>
        }

            <form asp-controller="Account" asp-action="ResetPasswordConfirmation" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @Html.HiddenFor(m => m.LinkId)

                <div class="form-group font-weight-bold">
                    <label for="Password">Password:</label>
                    <input type="password" class="form-control" id="Password" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group font-weight-bold">
                    <label for="ConfirmPassword">Confirm Password:</label>
                    <input type="password" class="form-control" id="ConfirmPassword" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" value="Confirm" class="btn btn-success mx-auto btn-block center-block">Confirm</button>
            </form>
    </div>
</div>

