@{
    ViewData["Title"] = "Home Page";
}

<section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(118, 118, 118);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1"><br>Welcome To Ambulance System For Medical Care</h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-5">System created to help patient for requesting ambulance in &nbsp;easiest way, helping the hospital to know that it should be prepared for patient and ambulance authority control online everything.</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="index.html#header16-3">More Details</a></div>
            </div>
        </div>
    </div>

</section>

<section class="header1 cid-rsoYbAOUvF" id="header16-3">





    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Our Vision</h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-2">“To Lead The Development of &nbsp;Transforming To Smarter Greenland &nbsp;Using Modern Technology”</p>

            </div>
        </div>
    </div>

</section>

<section class="timeline2 cid-rsp22TXSHX" id="timeline2-8">





    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">Our Challenges</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">Challenges we all work for solving it</h3>

        <div class="container timelines-container" mbri-timelines="">
            <!--1-->
            <div class="row timeline-element reverse separline">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mobi-mbri-user mobi-mbri"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            PATIENT
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            • Request ambulance in a long time by call
                            <br>• A lot of data required to make an ambulance request
                            <br>• Older people and disable people can’t make a phone call
                            <br>• There is no patient history to know what every patient
                            <br>suffering?
                            <br>• Emergency cases no chance to the patient can make a
                            phone call
                        </p>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="row timeline-element  separline">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbrib-delivery"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            AMBULANCE
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            • Cannot determine patient location
                            <br>• Cannot determine which hospital should go to
                            <br>• The decided route based on driver experience
                            <br>• Not connected to the hospital which will go to
                            <br>• Don’t know it the hospital can help this patient case
                        </p>
                    </div>
                </div>
            </div>
            <!--3-->
            <div class="row timeline-element reverse separline">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbrib-home"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            HOSPITAL
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            • Not interacted with ambulance authority
                            <br>• Maybe not suitable for patient case of no availability of
                            places
                            <br>• Hospital don’t report the patient case or save it for patient
                            history
                        </p>
                    </div>
                </div>
            </div>
            <!--4-->
            <div class="row timeline-element  separline">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbri-map-pin"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">AMBULANCE AUTHORITY</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            • Can’t control fake requests
                            <br>• Not be able to collect patients data
                            <br>• Control requests manual so, there are waiting queue list
                            <br>• Can’t connect to the driver
                            <br>• Not connected to the hospital
                            <br>• Can’t determine where it need to make ambulance stations
                        </p>
                    </div>
                </div>
            </div>
            <!--5-->
            <div class="row timeline-element reverse">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbri-setting"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            GOVERNMENT
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            • A lot of data we can’t use it
                            <br>• Can’t improve medical services because of manual system
                            <br>• It’s no monitoring or controlling system
                            <br>• Have not methods to collect requests, patients, hospital
                            data
                        </p>
                    </div>
                </div>
            </div>
            <!--6-->
            <!--7-->
            <!--8-->
            <!--9-->
            <!--10-->
            <!--11-->
            <!--12-->

        </div>
    </div>
</section>

<section class="header10 cid-rsoYLlCwmP mbr-fullscreen mbr-parallax-background" id="header10-4">



    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="media-container-column mbr-white p-5 align-left col-lg-8 col-md-10">
            <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">
                Full Medical Care is
                Right For All People
            </h1>

            <p class="mbr-text pb-3 mbr-fonts-style display-5">
                We Develop Environment Care about Patients and
                maximize the impact of Medical Resources
                integrated with Modern Technology.
            </p>

        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="features12 cid-rsp6m8SnIP" id="features12-b">





    <div class="container">
        <h2 class="mbr-section-title pb-2 mbr-fonts-style display-2">Ambulance System Will Serve</h2>
        <h3 class="mbr-section-subtitle pb-3 mbr-fonts-style display-5">
            Everybody needs to have medical assurance,
            improve its health. Related to hospitals, ambulance
            &nbsp;<span style="font-size: 1.5rem;">
                authority, government and mainly the patient who
                &nbsp;
            </span><span style="font-size: 1.5rem;">need to be always fine.</span>
        </h3>

        <div class="media-container-row pt-5">
            <div class="block-content align-right">
                <div class="card pl-3 pr-3 pb-5">
                    <div class="mbr-card-img-title">
                        <div class="card-img pb-3">
                            <span class="mbr-iconfont mbri-delivery"></span>
                        </div>
                        <div class="mbr-crt-title">
                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                                Ambulance
                            </h4>
                        </div>
                    </div>

                    <div class="card-box">
                        <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                            Serve ambulance to get the patient faster,
                            going on right route, knowing which
                            hospital it should to go to.
                        </p>
                    </div>
                </div>

                <div class="card pl-3 pr-3">
                    <div class="mbr-card-img-title">
                        <div class="card-img pb-3">
                            <span class="mbr-iconfont mbri-home"></span>
                        </div>
                        <div class="mbr-crt-title">
                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                                Hospital
                            </h4>
                        </div>
                    </div>
                    <div class="card-box">
                        <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                            All hospitals will be connected to patients’
                            profiles, interacted and save the patients
                            data.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mbr-figure m-auto" style="width: 45%;">
                <img src="~/lib/assets/images/first-aid-850489-1920-982x737.jpg" alt="Ambulance System Services" title="Ambulance System Services">
            </div>

            <div class="block-content align-left">
                <div class="card pl-3 pr-3 pb-5">
                    <div class="mbr-card-img-title">
                        <div class="card-img pb-3">
                            <span class="mbr-iconfont mbri-users"></span>
                        </div>
                        <div class="mbr-crt-title">
                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                                Patients
                            </h4>
                        </div>
                    </div>

                    <div class="card-box">
                        <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                            One click to get an ambulance or only
                            with voice, and Full Profile with Medical
                            history.
                        </p>
                    </div>
                </div>

                <div class="card pl-3 pr-3">
                    <div class="mbr-card-img-title">
                        <div class="card-img pb-3">
                            <span class="mbr-iconfont mbri-pin"></span>
                        </div>
                        <div class="mbr-crt-title">
                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">Ambulance Authorities</h4>
                        </div>
                    </div>
                    <div class="card-box">
                        <p class="mbr-text mbr-section-text mbr-fonts-style display-7">System will manage ambulance car requests automatically, some of predictions, Monitor and Control all Data.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features10 cid-rsp51bu7VG" id="features10-a">




    <div class="container">
        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-contact-form"></span>
                    </div>
                    <h4 class="card-title media-body py-3 mbr-fonts-style display-7">PATIENT HISTORY</h4>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7">
                        Every patient will have full
                        <br>profile contain all information
                        <br>about his/her including
                        <br>medical/patient history.
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri"></span>
                    </div>
                    <h4 class="card-title media-body py-3 mbr-fonts-style display-7">HOSPITAL REPORT</h4>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7">
                        Will know the patient case and append the treatment on
                        <br>his/her profile.
                        Also, will provide info about free beds count, available departments.
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbrib-pin"></span>
                    </div>
                    <h4 class="card-title media-body py-3 mbr-fonts-style display-7">
                        NAVIGATIONS
                    </h4>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7">
                        Using GPS will provide us with
                        <br>patient location and fastest
                        <br>route to get the suitable
                        <br>hospital destination.
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-growing-chart"></span>
                    </div>
                    <h4 class="card-title media-body py-3 mbr-fonts-style display-7">FULL CONTROL &amp; STATISTICS</h4>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7">
                        Controlling and Monitoring
                        Patients requests, hospitals,
                        quality of medical service.<br>Using the statistics and reports
                        to improve medical care
                        services.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content10 cid-rsp4yZtIpm" id="content10-9">



    <div class="container">
        <div class="inner-container" style="width: 61%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-5">
                “It may not always be about
                &nbsp;<span style="font-size: 1.5rem;">
                    What We Know but it’s always
                    &nbsp;
                </span><span style="font-size: 1.5rem;">about How Much We Care“</span>
            </div>
            <hr class="line" style="width: 25%;">
        </div>
    </div>
</section>

<section class="step2 cid-rsp8s0mY3c" id="step2-c">





    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">System Components</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5">Components of Ambulance System Integrated for Production</h3>
        <div class="step-container row justify-content-center">
            <div class="card col-12 pb-4 col-md-4 separline">
                <div class="step-element">
                    <div class="step-wrapper pb-3">
                        <h3 class="step d-flex align-items-center justify-content-center m-auto">
                            1
                        </h3>
                    </div>
                    <div class="step-text-content align-center">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Mobile App</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            Connected directly to request
                            <br>ambulance and tracking live location of
                            <br>patient. Also, to use all mobile features
                        </p>
                    </div>
                </div>
            </div>

            <div class="card col-12 separline pb-4 col-md-4">
                <div class="step-element">
                    <div class="step-wrapper pb-3">
                        <h3 class="step d-flex align-items-center justify-content-center m-auto">
                            2
                        </h3>
                    </div>
                    <div class="step-text-content align-center">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Web App</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            Controlling and Monitoring App. Also,
                            <br>To manage requests and getting info
                            <br>about every executing process
                        </p>
                    </div>
                </div>
            </div>

            <div class="card col-md-4 col-12 separline pb-4">
                <div class="step-element">
                    <div class="step-wrapper pb-3">
                        <h3 class="step d-flex align-items-center justify-content-center m-auto">
                            3
                        </h3>
                    </div>
                    <div class="step-text-content align-center">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Cloud Services</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            For Preventing Failures, Down and Also,
                            <br>for keepig our system available, reliable
                            <br>and for using all cloud features
                        </p>
                    </div>
                </div>
            </div>

            <div class="card col-12 separline col-md-4">
                <div class="step-element">
                    <div class="step-wrapper pb-3">
                        <h3 class="step d-flex align-items-center justify-content-center m-auto">
                            4
                        </h3>
                    </div>
                    <div class="step-text-content align-center">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Artificial Intelligence</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            Ambulance System should be
                            <br>intelligence to be able to assist in
                            <br>complete whole process automatically
                        </p>
                    </div>
                </div>
            </div>

            <div class="card col-12 separline col-md-4">
                <div class="step-element">
                    <div class="step-wrapper pb-3">
                        <h3 class="step d-flex align-items-center justify-content-center m-auto">
                            5
                        </h3>
                    </div>
                    <div class="step-text-content align-center">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Business Intelligence</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            To make analysis techniques on data
                            <br>and making many predictions based
                            <br>on users stored data
                        </p>
                    </div>
                </div>
            </div>

            <div class="card col-md-4 col-12 separline last-child">
                <div class="step-element">
                    <div class="step-wrapper pb-3">
                        <h3 class="step d-flex align-items-center justify-content-center m-auto">
                            6
                        </h3>
                    </div>
                    <div class="step-text-content align-center">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">
                            Navigation Maps
                        </h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            A lot of system processes mainly
                            <br>based on maps and many algorithms
                            <br>to suggest routes and so on.
                        </p>
                    </div>
                </div>
            </div>






        </div>
    </div>
</section>

<section class="step1 cid-rsp9YAB9lw" id="step1-d">





    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">Ambulance System Users</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5">Users will interact to system and the main users will benefit from using ambulance system</h3>
        <div class="step-container">
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            1
                        </h3>
                    </div>
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">
                            PATIENT
                        </h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            Main user of system,
                            request ambulance, make
                            profile and patient history,
                            reachable by GPS feature
                        </p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            2
                        </h3>
                    </div>
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Paramedic</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            System serve ambulance to
                            get patient and reach
                            hospital location faster.
                            Connected to hospital and
                            ambulance authority
                        </p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            3
                        </h3>
                    </div>
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">
                            HOSPITAL
                        </h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            Connecting to ambulance,
                            interacting to patient history
                            profile, finally produce
                            report about the patient
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            4
                        </h3>
                    </div>
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">
                            AUTHORITY
                        </h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            Dashboard to Monitor and
                            control all requests, verify
                            user requests automatically,
                            get reports about all
                            ambulance cars
                        </p>
                    </div>
                </div>
            </div>










        </div>
    </div>
</section>

<section class="clients cid-rspbAn14NK mbr-parallax-background" data-interval="false" id="clients-g">


    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(204, 204, 204);">
    </div>
    <div class="container mb-5">
        <div class="media-container-row">
            <div class="col-12 align-center">
                <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">OUR SPONSOR</h2>
                <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-5">
                    First of all, I would like to thank you for being so generous and sponsoring our project No words could
                    possibly express how we happy Thank you so much for supporting
                </h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false" data-ride="false" data-interval="false">
            <div class="carousel-inner" data-visible="3">

                <div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="~/lib/assets/images/picture3-595x595.png" class="img-responsive clients-img" alt="Smart Technology Group" title="Smart Technology Group">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="~/lib/assets/images/picture1-240x241.png" class="img-responsive clients-img" alt="Centione" title="Centione">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="~/lib/assets/images/picture2-596x595.png" class="img-responsive clients-img" alt="Computers and Information Science - Helwan University" title="Computers and Information Science - Helwan University">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-controls">
                <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev">
                    <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next">
                    <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>